<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Penerimaan Mahasiswa Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="white-background">
  <ion-card class="info-card">
    <ion-card-header>
      <ion-card-title><ion-icon name="checkmark-circle-outline"></ion-icon>  Informasi Alur PMB</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="timeline">
        <div class="outer">
          <div class="container ion-text-left">
            <h2><span class="highlight-text">Pendaftaran</span></h2> <br>
            <div class="event">
                <div class="event-details">
                  <h1 class="title"></h1>
                  <h1><span class="custom-text">Kegiatan Pendaftaran</span> dapat dilakukan mulai <span class="custom-text-small">tanggal 2 Januari s/d 31 Agustus 2024. <h3></h3></span></h1>
                  <p>Biaya Pendaftaran Sebesar Rp. 300.000,00.</p>
                </div>                
            </div>
          </div>
  
          <div>
            <h2><span class="highlight-text"> Mengikuti Tes Potensi Akademik dan Wawancara</span></h2> <br>
            <div class="event">
              <div class="event-details">
                <h1 class="title"></h1>
                <h1><span class="custom-text">Tes Potensi Akademik (TPA) </span>
                  Kegiatan ini dilakukan untuk mengetahui kompetensi pengetahuan umum dimana ada 3 jenis pertanyaan diantaranya adalah pertanyaan
                  <span class="custom-text-small">logika, matematika dan umum,<span class="custom-text">TPA</span></span> dilakukan menggunakan berbasis komputer yang diselenggarakan offline/online.
                </h1>
              </div>                
            </div>
          </div>
  
  
          <div>
            <h2><span class="highlight-text">Pengumuman Hasil TPA dan</span></h2>
            <h2><span class="highlight-text">Melakukan Biaya Daftar Ulang</span></h2> <br>
            <div class="event">
              <div class="event-details">
                <h1 class="title"></h1>
                <h1><span class="custom-text">Kegiatan daftar Ulang</span> bisa dilakukan secara <span class="custom-text-small">Online</span>
                  <span class="custom-text"></span> atau <span class="custom-text-small">Offline</span> </h1>
                   <p>Setelah ada pengumuman mengenai lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa yang </p>
                  <span class="custom-text-small"> dinyatakan lolos</span><span class="custom-text"></span> <p>bisa langsung melakukan kegiatan </p> <span class="custom-text"></span><span class="custom-text-small">daftar ulang</span>
              </div>                 
            </div>
          </div>
  
          <div>
            <h2><span class="highlight-text">Melakukan Kegiatan Pra-Studi</span></h2> <br>
            <div class="event">
              <div class="event-details">
                <h1 class="title"></h1>
                <h1><span class="custom-text">Pelaksanaan Kegiatan Pra-Studi</span> Dilaksanakan di 1 lokasi. <h3></h3> </h1>
                  <span class="custom-text"></span> <p>Fakultas Ekonomi dan Komputer dilaksanakan di </p><span class="custom-text"></span>
                  <span class="custom-text-small"> Gedung Kampus Pajajaran.</span>
              </div>                 
            </div>
          </div>
        </div>
        
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
